.welcome-message .wrap-info .arrow-nav .fa-angle-down:before {
  content: "\f111";
  font-size: 50px;
  color: #f7981d;
  margin-left: 2px;
}

.banner .arrow-nav {
  background-color: #fff;
  border: 2px solid black;
}

.banner .arrow-nav i {
  line-height: 110% !important;
}

.banner .arrow-nav:hover {
  background: #f7981d;
}

.services .caption .fa-bed:before {
  font-family: 'icomoon' !important;
  content: "\e905";
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.services .caption .fa-home:before {
  font-family: 'icomoon' !important;
  content: "\e901";
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.services .caption .fa-galery:before {
  font-family: 'icomoon' !important;
  content: "\e900";
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.aceito {
  font-size: 10px !important;
}

.aceito a {
  font-size: 10px !important;
  color: #999;
  font-weight: bold;
}

.aceito a:hover {
  transition: color .75s ease-out 0s;
  color: #f7981d !important;
}

.cdrcolor {
  color: #f7981d;
  font-weight: bold;
}

.enviar {
  float: right;
}

@media (max-width: 767px) {
  .banner .arrow-nav i {
    line-height: 120% !important;
  }
  .banner .arrow-nav i:before {
    font-size: 22px !important;
    margin-left: 1px !important;
  }
  .navbar-nav>li>a {
    text-align: center !important;
    padding-left: 0 !important;
  }
}
